@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

.sidebar{
  position: fixed;
  top: 60px;
  left: 0px;
  width: 70px;
  bottom: 0;
  background-color: white;
  border-top-color:white ;
  margin-top: -1px;
}
.sidebar-icons{
  height: 76px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  
}
.sidebar-icons:hover{
    background-color: rgb(227, 226, 226);
}
.sidebar-icons img{
  height: 25px;
  margin-bottom: 4px;
  
}
.sidebar-icons div{
  font-family: Roboto,Arial;
  font-size: 10px;
}
/* .side-text{
  font-family: Roboto,Arial;
  font-size: 10px;
    
} */